body {
    background: antiquewhite;
    font-size: 24;
    font-family: sans-serif;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
}
td, th{
    border: 3px solid gray;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.fd{
    background-color: aqua;
}